body {
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
}
.login::before {
  content: "";
  background: url("../image-logo/Netflix-signUp-Bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
}

.login input {
  background-color: rgba(16, 16, 16);
  color: white !important;
}
.login input[type="submit"] {
  background-color: rgba(70, 90, 126, 1) !important;
  color: white;
}
.form-styles {
  margin-bottom: 4rem !important;
}
.recaptcha-info {
  margin-bottom: 4.5rem !important;
}
